<style>

</style>
<ul id="messages"></ul>
<form id="chat_form">
    <input type="text" name="user" id="user_name" autocomplete="off" required placeholder="Nombre" />
    <input type="text" name="message" id="user_message" autocomplete="off" required placeholder="Mensaje" />
    <button type="submit">Send</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>