<div id="container_login">
    <form id="login_form">
        <div>
            <input type="text" name="username" id="input_username" class="input_login" placeholder="Usuario o email"
                required>
            <span class="span_error username_error"></span>
        </div>
        <div>
            <input type="password" name="password" id="input_password" class="input_login" placeholder="Contraseña"
                required>
            <span class="span_error password_error"></span>
        </div>

        <button>INICIAR SESIÓN</button>
        <div>
            <p style="margin-bottom: 10px;">No tienes una cuenta? <a href="/register">Registrate</a></p>
            <p style="margin: 0; text-align: center;"><a href="/recover">Olvidé mi contraseña</a></p>
        </div>
    </form>
</div>
<script src="/js/login.js"></script>