<form id="login_form">
    <input type="text" name="username" placeholder="Usuario o email" required>
    <input type="text" name="password" placeholder="Contraseña" required>
    <button>Iniciar Sesión</button>
    <p>No tienes una cuenta? <a href="/register">Registrate</a></p>
</form>